@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body::-webkit-scrollbar {
    width: 12px;
  }
  
  body::-webkit-scrollbar-track {
    background: #0F172A;        /* цвет зоны отслеживания */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #796ea8;    /* цвет бегунка */
    border-radius: 20px;       /* округлось бегунка */
    border: none;
  }




body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 20px;
    background-color: #18483c;
    color: #94bfa1;
}

h1, h2, p {
    margin: 0;
}


img {
    object-fit: contain;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.2s;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    margin-bottom: 30px;
}

.main-list {
    display: flex;
    align-items: center;
    gap: 20px;
}


.main__title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 70px;
}

.cards-list {
    display: flex;
    padding: 0 5%;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    column-gap: 50px;
    justify-content: center;
}

.card {
    width: 350px;
    height: 500px;
    transition: 0.2s;
    background: #74ad8d;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

}
.card_mini{
    width: 300px;
    height: 150px;
    transition: 0.2s;
    background: #18483c;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 610px;
    top: 520px;
}



.card__text {
  
    width: inherit;
    display: flex;
    padding: 50px 0 20px;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.card__title {
    padding: 0 20px;
    text-align: center;
}
.card__subtitle {
    padding: 0 20px;
    text-align: center;

}

.card__img {
    padding: 30px;
}

.creat__link {
    display: block;
    width: inherit;
    height: inherit;
    background: url(../img/plus.svg) no-repeat ;
  
    background-size: 200px 200px;
    background-position: center;
   
}
.card__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
    height: inherit;
}

.card--creat:hover,
.card:hover {
    box-shadow: 0px 4px 50px #83b9ac;
}

.creat-form {
    padding: 0 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.form__card {
    width: 40%;
    padding: 0 20px 20px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    background: #74ad8d;
    border: 10px solid #57977f;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.form__inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.form__inputs label {
    width: 80%;
}

.form__input {
    background: #a4cec0;
    border: 5px solid #57977f;
    border-radius: 10px ;
    padding: 10px;
    height: 30px;
    color: #18483c;
    font: inherit;
    border: none;
    width: 94%;
}

.form__card label {
    width: 80%;
}

.form__text {
    background: #a4ceaf;
    border-radius: 10px;
    padding: 10px;
    color: #18483c;
    font: inherit;
    border: none;
    width: 94%;
}

.form__button {
    border: 5px solid #57977f;
    background: #83b999;
    border-radius: 10px;
    color: #18483c;
    padding: 10px;
    font: inherit;
    width: 200px;
    height: 50px;
    cursor: pointer;
    transition: 0.2s;
}

.form__button:hover {
    color: #57977f;
    background:  #a4cec0;
}

.main {
    padding: 0 5%;
}

.main__block {
    background: #57977f;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(255, 251, 0, 0.1);
    padding: 30px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__subtitle {
    text-align: center;
    margin-bottom: 50px;
}

.main__text {
    line-height: 30px;
    margin-bottom: 40px;
    white-space: pre-wrap;
    align-self: flex-start;
}

.main__link {
    display: block;
    border: 4.5px solid #57977f;
    background: #83b999;
    border-radius: 10px;
    color: #18483c;
    padding: 15px 10px;
    font: inherit;
    width: 200px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

.main__link:hover {
    color: #57977f;
    background:  #a4cec0;
}


.main-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    width: 30%;
    padding: 50px 30px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    background: #74ad8d;
    border-radius: 20px;
    box-shadow: 0px 4px 50px #57977f;
}


.login label {
    width: 60%;
}


.reg__link {
    height: fit-content;
    text-align: center;
    padding: 15px 0px;
}

.error {
    font-size: 20px;
    color: #18483c;
}

.login__link:hover {
    color: rgba(14, 165, 233, 1);
}